/* .App {
  text-align: center;
} */

.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  
  
  /* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .taiModif {
    background-color: antiquewhite;
  }
  
  /* @media only screen and (min-width: 376px) {
    .img1{
      width:50px;
      height:40px;
      margin-left: -300px;
      margin-top: 10px;
    }
  
    .DivFulName{
      margin-top: -40px;
    }
  .DivAdress{
     margin-top: 30px;
     margin-left: -180px;
  }
  .PhotFul{
    background-color: aqua;
    height: 70px;
  }
    
  } */
  
  
  @media only screen and (min-width: 1024px) {
  .DivFulName {
    text-align: center;
    width: 100%;
    height: 180px;
    margin-top: 85px;
    background-color: antiquewhite;
    padding-top: 60px;
   }
   
   
  
  .img1 {
  max-width: 150px;
  min-width: 20px;
  height: 150px;
  background-color: rgb(29, 216, 97);
  margin-left: 100px;
  margin-top: -200px;
  
  }
  .fixeInfoTotale{
    margin-top: 10px;
  }
  
  .infoDetail{
    /* background-color: aqua; */
   max-width: 200px;
   min-width: 100px;
  margin-left: 100px;
   margin-top: 10px;
   
   
  }
  
  .DivAdress {
    /* background-color: bisque; */
    max-width: 200px;
    min-width: 100px;
    margin-left: 100px;
    margin-top: 10px;
   
  }
  
  .fixeQualiteDetail{
    /* background-color: blueviolet; */
    max-width: 200px;
    min-width: 100px;
    margin-left: 100px;
    margin-top: 10px;
  }
  .fixeLangueDetail{
    /* background-color: antiquewhite; */
    max-width: 200px;
    min-width: 100px;
    margin-left: 100px;
    margin-top: 10px;
  
  }
  .LangueDetail{
    /* margin-top: 10px; */
  }
  
  .fixeCentreInteret{
    /* background-color: aqua; */
    max-width: 200px;
    min-width: 100px;
    margin-left: 100px;
    margin-top: 10px;
  
  }
  
  .FixeFormationInfo{
    /* background-color: aqua; */
    max-width: 1000px;
    min-width: 600px;
    height: 200px;
    margin-left: 350px;
    margin-top: -670px;
     
  }
  
  .ParcouProfessionnel{
  
    /* background-color: burlywood; */
    max-width: 1000px;
    min-width: 600px;
    margin-left: 350px;
    margin-top: -100px;
    height: 200px;
    padding-top: 20px;
     
  }
  
  .StageProfessionnel{
  
    /* background-color: rgb(190, 223, 43); */
    max-width: 1000px;
    min-width: 600px;
    margin-left: 350px;
    margin-top: -10px;
    height:450px;
    
  }
  .colInfoTotal{
    margin-top: -35px;
    width: 20%;
    background-color: #61dafb;
    
  }
  }
  
  